.h1{
    background-color: lightblue;
    font-weight: bold;
    color:blue;
    text-decoration: underline;
    text-overflow: ellipsis;
    text-transform: capitalize;
    color:blue;
    text-decoration: underline;
    text-overflow: ellipsis;
    text-align: center;
    background-color: cornsilk;
    text-align: center;
}